/*@import "bootstrap/dist/css/bootstrap.min.css";*/
@import './../../../node_modules/tailwindcss/base.css';
@import './../../../node_modules/tailwindcss/components.css';
@import './../../../node_modules/tailwindcss/utilities.css';

div{
  background-color: lightcyan;
}

img {
  max-width: 80%;
  display: inline-block;
  vertical-align: middle;
}
